# The default directory for the original TraCE-21ka files (as folder and as symbolic link):
trace_orig
trace_orig/

heap
heap/

/Miniconda3-latest-Linux-x86_64.sh
/miniconda3/

# Temporary file created by `ncremap`
PET0.RegridWeightGen.Log
