# SPDX-FileCopyrightText: 2021 Wolfgang Traylor <wolfgang.traylor@senckenberg.de>
#
# SPDX-License-Identifier: CC0-1.0

# External files
/external_files
/external_files/

# The default output paths
/heap
/heap/
/output
/output/

/Miniconda3-latest-Linux-x86_64.sh
/miniconda3/
/conda_environment/

# Temporary file created by `ncremap`
PET0.RegridWeightGen.Log

# Python cache
__pycache__/
*.pyc

# Log file
prepare_trace_for_guess.log
